
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px 0;
}


button {
    display: block;
    width: 250px;
    margin: 12px auto;      
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 12px;   
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background-color: #1c7cd6;
    transform: scale(1.05);
}


button:active {
    transform: scale(0.98);
}